.headerContainer__shipping-btn{
    border: none;
    background-color: #41a383;
    color: var(--white);
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.6rem;
    width: 100%;
}

.headerContainer__navBar {
    align-items: center;
    display: flex;
    gap: 4rem;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.navigation-bar {
    border: .1rem solid var(--grey-400);
    border-radius: 2rem;
    padding: .5rem 1.5rem .5rem;
    width: 60%;
}

.navigation-bar input {
    border: none;
}

.logo-icon {
    width: 95px;
    height: 48px;
}

.bag-icon,
.profile-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.profile-bar {
    display: flex;
    gap: 1.5rem;
}