.nav__wrap {
    border-bottom: .1rem solid black;
    display: flex;
    font-family: Inter;
    font-size: 1.7rem;
    font-weight: 600;
    justify-content: center;
    margin-top: 3.6rem;
    padding-bottom: 2.6rem;
}

.nav__wrap-ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    list-style: none;
}