.section__header {
    display: flex;
}

.section__header-description {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.section__header-description h1 {
    color: #333;
    font-family: 'Libre Baskerville';
    font-size: 5.5rem;
    padding: 6.5rem 9rem 1rem;
    text-align: center;
}

.section__header-description p {
    color: #666;
    font-family: 'Inter';
    font-size: 2rem;
    line-height: 3rem;
    padding: 2rem 5rem 2rem;
    text-align: center;
}

.section__header-description button {
    background-color: #658c4a;
    color: #fff;
    cursor: pointer;
    border: .1rem solid #658c4a;
    border-radius: 3rem;
    font-family: 'Inter';
    font-size: 2rem;
    padding: 1rem 2rem;
}

.section__header-description button:hover {
    border: .1rem solid #90cc65;
    background-color: #90cc65;
}

.section__header-portrait img {
    max-width: 65rem;
}

@media screen and (max-width: 75rem) {
    .section__header {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}