*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --grey-50: #f5f5f5;
    --primary: #658c4a;
    --white: #fff;
    --grey-600: #333;
    --grey-200: #ccc;
    --color-black: #000;
    --grey-400: #999;
    --color-lightgreen: #90cc65;
    --grey-500: #666;
    --color-gold: #ffc816;
    --secondary: #e7cec0;
    --grey-100: #e6e6e6;
}

.mainContainer {
    height: 100vh;
    max-width: 160rem;
}